<p>dashboard works!</p>


<!-- BAR CHART -->
<!-- <div class="m-5">
    <div class="card col-md-6 offset-md-3">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
    </div>
</div> -->



<!-- DOUGHNUT CHART -->
<!-- <div class="m-5">
    <div class="card col-md-6 offset-md-3">
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
            [options]='dougnutChartOptions'>
        </canvas>
    </div>
</div> -->

<!-- 
SCATTER CHART -->